html{
    background-color:darkorange;

}

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(180deg, #ffcaeb, #cce6ff, #fffec0);
  background-repeat: no-repeat;
  text-align: center;

}

h3{
    /* 1. Define the gradient as a background image */
  background: linear-gradient(135deg, #f700ff, #ff3243);
  
  /* 2. Clip the background so it only fills the text shape */
  background-clip: text;
  -webkit-background-clip: text;
  
  /* 3. Make the default text color transparent to see the gradient underneath */
  color: transparent;
}

h4{
    text-align: left;
}

h2{
    color:#ff0000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
}

img{
    border: 10px solid #ffee00;
}

h1{
    font-family:monospace;
    text-align:center;
  /* 1. Define the gradient as a background image */
  background: linear-gradient(180deg, #ff5cce, #2861ff);
  
  /* 2. Clip the background so it only fills the text shape */
  background-clip: text;
  -webkit-background-clip: text;
  
  /* 3. Make the default text color transparent to see the gradient underneath */
  color: transparent;
}


nav ul {
    list-style-type: None;
    margin: 0;
    padding: 0;
}

nav li {
    background-color: rgb(29, 29, 138);
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: large;
}

nav a {
    color: #60bfff;
    text-decoration: None;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 10px;
}

.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.item2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column: span 2;

}

item3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    align-content: center;
    text-align: left;
    grid-column: span 3;
}
